# Ignore virtual environment folder
venv/

# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc

backend/migrations/env.py



backend/app/config/google_client_secret.json

# Ignore system files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/

# Build files from frontend (if generated)
build/
dist/

# Logs
*.log

# IDE-specific files
.idea/
.vscode/
*.swp
