.admin-container {
  display: flex;
}

.module-management {
  flex: 1;
  padding: 20px;
  background: #f7f8fa;
}

.module-management header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-module-button {
  padding: 10px 20px;
  background: #5b21b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.module-form {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px;
}
